.courses {
  padding: 15px 30px;
  background-image: url("./imgs/bgfcs.png");
  background-size: cover;
}

.courses__header {
  background: #464569;
  color: white;
  text-align: center;
  padding: 30px;
}

.courses__header a {
  text-decoration: none;
  color: yellow;
}
.courses__header {
  font-size: 17px;
}

.courses__search {
  text-align: center;
  padding: 30px;
}
.search--text {
  color: gray;
}
.search--text i {
  cursor: pointer;
}
.courses__search > div:first-of-type {
  margin-bottom: 17px;
}
.search--check {
  color: rgb(185, 180, 180);
}
.search--check span{
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}
.search--check span:first-of-type{
  display: inline-block;
  margin-right: 34px;
}
.search--check--active,.search--check span:hover {
  color: gray;
  text-decoration: underline;
}
.courses_container {
  padding: 10px;
  /* vertical-align:top; */
}
.course {
  width: 400px;
  /* height: 450px; */
  display: inline-block;
  margin: 12px;
  background: #333333;
  vertical-align: top;
  position: relative;
}
.course__img_layout {
  width: 400px;
  height: 200px;
  position: absolute;
  background: black;
  opacity: 50%;
  display: none;
}
.course__see_more {
  text-decoration: none;
  background: gray;
  color: white;
  position: absolute;
  top: 86;
  left: 141;
  padding: 13px;
  border-radius: 9px;
  display: none;
}
.course:hover .course__img_layout,
.course:hover .course__see_more {
  display: block;
}

.course__see_more:hover {
  background: black;
  opacity: 62.3%;
}
.course img {
  width: 400px;
  height: 200px;
}
.course__description {
  color: white;
  padding: 15px;
}
.course__description--platform {
  color: yellow;
}

.course__description p {
  font-size: 15px;
}
.course__description--durarion,
.course__description--level {
  color: rgb(96, 96, 99);
}
